.firstLevel {
  display: grid;
  grid-template-columns: 24px 1fr;
  gap: 20px;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  margin-top: 20px;
}

.firstLevelActive,
.firstLevel:hover {
  color: var(--primery);
}

.secondLevel {
  margin-bottom: 10px;

  cursor: pointer;
  text-transform: uppercase;

  color: var(--gray-dark);

  font-size: 12px;
  font-weight: 300;
}

.secondBlock {
  margin-top: 15px;
  margin-left: 12px;
  padding-left: 32px;

  border-left: 1px solid #dfdfdf;
}

.thirdLevel {
  display: block;

  cursor: pointer;

  color: var(--gray-dark);
  font-size: 14px;
  font-weight: 500;
  outline-offset: -1px;
}

.thirdLevelActive,
.thirdLevel:hover {
  color: var(--primery);
}

.secondLevelBlock {
  overflow: hidden;
}

.icon {
  width: 25px;
  height: 25px;
  background-color: currentColor;
  display: inline-block;
}

.hat {
  mask-image: url('/hat.svg');
}

.cloud {
  mask-image: url('/cloud.svg');
}

.book {
  mask-image: url('/book.svg');
}

.box {
  mask-image: url('/box.svg');
}

.iconParent {
  display: grid;
  margin-right: 20px;
  color: var(--gray);
  align-items: center;
}
