.tag {
  display: inline-block;

  box-sizing: border-box;
  margin-right: 5px;
  border-radius: 20px;
  padding: 5px 10px;
}

.s {
  font-size: 12px;
  line-height: 12px;
}

.m {
  font-size: 14px;
  line-height: 14px;
}

.ghost {
  border: 1px solid var(--gray-light);
}

.red {
  color: var(--white);
  background: #de0000;
  font-weight: 600;
}

.grey {
  color: var(--white);
  background: #8a88b7;

  font-weight: 600;
}

.green {
  color: var(--green);
  background: var(--green-light);

  font-weight: 700;
}

.primery {
  color: var(--primery);
  background: var(--white);
  border: 1px solid var(--primery);

  font-weight: 500;
}
